<!DOCTYPE html>
<html>
  <head>
    <title>Image Captioning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  
  <body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      
      <h1 class="text-center">Image Captioning</h1>
      <p class="mx-auto text-center" style="max-width: 500px;">Upload your image that you would like to caption</p>

      <div class="form-group container">
          <label for="file" class="d-block text-center">Your Image</label>
          <center>
              <input type="file" name="file" id="file" class="form-control-file"/>
          </center>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary py-1 px-2 d-block mx-auto" />
    </form>
      <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>